body{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   text-align: left;
}

#home{
   width: 100%;
   height: 620px;
   background-image: url(../images/organiser-soiree-1000x585.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   color: aliceblue;
   position: relative;
}

#home-content{
   font-size: 3em;
}

.homeOverLay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(214, 46, 51, 0.4);
}

aside{
   position: fixed;
   top: 30%;
   left: 0;
   z-index: 99;
   height: 100%;
   width: 0;
   left: 0;
   transition: 0.5s;
   padding-top: 60px;
   /* display: flex;
   align-items: flex-start; */

   /* white-space: nowrap; */
}

/* #leftMenu{
   height: 100%;
   width: 0;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   
   transition: 0.5s;
   padding-top: 60px;
} */



.sidenav{
   background-color: #111;
   height: 50vh;
   padding: 65px;
   display: none ;   
}

.openNav{
color: azure;
transition: all 0.5s;
}

#home-content{
   transition: margin-left 0.5s;
   padding: 16px;
   
}

#sliderDown{
   margin: 100px auto;
   width: 50%;
}

#sliderDown p{
   margin: 0;
}

.btn{
   width: 665px;
}

.card-body{
   background-color: #cccc;
}

.countdown{
   position: relative;
   width: 100%;
   height: 300px;
   background-image: url(../images/join-us-sign-over-colorful-cut-ribbon-confetti-vector-48290858.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.clock{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background-color: rgba(214, 46, 51, 0.4); */
}

.countdown-container{
   position: relative;
   top: 50%;
}

.clock-item .inner{
   height: 0;
   padding-bottom: 100%;
   position: relative;
   width: 100%;
}

.clock-canvas{
   background-color: rgba(26, 24, 24, 0.288);
   border-radius: 50%;
   height: 0;
   padding-bottom: 100%;
}

.text{
   font-size: 35px;
   font-weight: bold;
   margin-top: -50px;
   position: absolute;
   top: 50%;
   text-align: center;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
   width: 100%;
}

.row textarea{
   height: 150px;
}

.row .btn{
   width: 150px;
}

.loader {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   max-width: 6rem;
   margin-top: 3rem;
   margin-bottom: 3rem;
 }
 .loader:before,
 .loader:after {
   content: "";
   position: absolute;
   border-radius: 50%;
   animation: pulsOut 1.8s ease-in-out infinite;
   filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
 }
 .loader:before {
   width: 100%;
   padding-bottom: 100%;
   box-shadow: inset 0 0 0 1rem #fff;
   animation-name: pulsIn;
 }
 .loader:after {
   width: calc(100% - 2rem);
   padding-bottom: calc(100% - 2rem);
   box-shadow: 0 0 0 0 #fff;
 }

 @keyframes pulsIn {
   0% {
     box-shadow: inset 0 0 0 1rem #fff;
     opacity: 1;
   }
   50%, 100% {
     box-shadow: inset 0 0 0 0 #fff;
     opacity: 0;
   }
 }

 @keyframes pulsOut {
   0%, 50% {
     box-shadow: 0 0 0 0 #fff;
     opacity: 0;
   }
   100% {
     box-shadow: 0 0 0 1rem #fff;
     opacity: 1;
   }
 }
     
  

.loading{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #333;
   z-index: 9999;
   
   display: flex;
   align-items: center;
   justify-content: center;
}